<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Learn_05</title>
    <script src="Scripts/angular.js"></script>
    <script>
        var app = angular.module('myApp', [])
        .provider('userService', {
            $get: function () {
                var current_user;
                return {
                    getCurrentUser: function () {
                        return current_user;
                    },
                    setCurrentUser: function (user) {
                        current_user = user;
                    }
                }
            }
        })
        .config(function (userService) {
            userService.setCurrentUser = 'Ali';
        })
        .controller('myCtrl', function ($scope, userService) {
            $scope.setUser = function () {
                userService.setCurrentUser($scope.user);
            };
            $scope.getUser = function () {
                alert(userService.getCurrentUser());
            }
        });
    </script>
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <h3>Register service as a provider and set config method</h3>
        <p>
            <input type="text" ng-model="user" />
        </p>
        <p>
            <input type="button" value="Get Current User" ng-click="getUser()" />
        </p>
        <p>
            <input type="button" value="Set Current User" ng-click="setUser()" />
        </p>
    </div>
</body>
</html>
